<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="RacikUI - Bootstrap Admin Template Ajax">
  <meta name="author" content="Boed Winangun">
  <meta name="keyword" content="TreeHole 博客">
  <!-- Icons -->
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">
  <title>TreeHole 管理端 - 登录</title>
</head>

<body class="o-app flex-row align-items-center">
  <!-- Container -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Card Group -->
        <div class="card-group">
          <!-- Card Login -->
          <div class="card p-4">
            <div class="card-body">
              <h1>登录</h1>
              <p class="text-muted">请登录您的账号</p>
              <!-- 表单 -->
              <form method="POST" action="/login" >
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- /.Card -->
          <!-- Card Text -->
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2> {{ loginTitle }}</h2>
                <p class="text-left">
                  {{ loginDesc }}
                </p>
              </div>
            </div>
          </div>
          <!-- /.Card -->
        </div>
        <!-- /.Card Group -->
      </div>
      <!-- /.Col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.Container -->

  <!-- Script -->
  <script src="vendors/jquery/js/jquery.min.js"></script>
  <script src="vendors/popper.js/js/popper.min.js"></script>
  <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendors/pace-progress/js/pace.min.js"></script>
  <script src="vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
  <script src="vendors/@racikui/racikui-bootstrap/js/racikui.min.js"></script>
</body>

</html>
